video, iframe {
    margin-bottom: 15px;
    width: 300px;
    height: 200px;
}

.video-wrapper {
    display: inline-block;
    padding: 15px;
}

.list-border {
    border: 1px solid lightgrey;
}

.item-border:not(:last-child) {
    border-bottom: 1px solid lightgrey !important;
}